includes:
    - vendor/ahegyes/wordpress-configs/php/quality-assurance/phpstan.dist.neon

parameters:
    paths:
        - internal-comments.php
        - functions.php
        - uninstall.php
        - src
        - config
        - tests
    excludePaths:
        - dependencies/*
        - vendor/*
        - node_modules/*
        - tests/bootstrap.php
